html {
  background-color: #fefefe;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ\ Ｐゴシック, MS PGothic, sans-serif;
    background:transparent;
    color:#555;
    font-weight: 300;
}
@media only screen and (min-width: 740px) {
        body {
            font-size: 18px;
            width: 740px;
            margin: 2.5em auto 1em auto;
            font-weight: 300;
        }
        #site_title {
            font-size: 180%;
        }
        .travel_info_item_with_image {
          display: grid;
          grid-template-columns: 170px 1fr;
        }
        .travel_info_item_with_image .image {
          grid-row: 1 / 2;
          grid-column: 1 / 2
        }
        .travel_info_item_with_image .image img {
          width: 160px;
        }
        .travel_info_item_with_image .body {
          grid-row: 1 / 2;
          grid-column: 2 / 3
        }
        .travel_info_item_with_image .body p {
          margin-top: 0;
          padding-top: 0;
        }
}
@media only screen and (max-width: 739px) {
        body {
            font-size: 18px;
            width: 95%;
            margin: 2em auto 1em auto;
            font-weight: 300;
        }
        #site_title {
            font-size: 200%;
        }
        .travel_info_item_with_image .image img {
          width: 100%;
        }
        .travel_info_item_with_image .body p {
          margin-top: 0;
          padding-top: 0;
        }
}
header {
    margin-bottom: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    clear: both;
    color: black;
    margin: 1em 0 0.6em 0;
}
h1 {
    font-size: 210%;
}
h1.entry-title {
    font-size: 230%;
    margin: 0;
}
h2 {
    font-size: 170%;
}
h3  {
    font-size: 150%;
}
h4 {
    font-size: 130%;
}
h5 {
    font-size: 120%;
}
h6 {
    font-size: 105%;
}
p {
    margin: 0.5em 0 0.5em 0;
}
a:link {
    color: rgb(0,128,255);
    text-decoration: none;
}
img {
    margin: 0 0 0.8 0;
}

img.left {
    margin-right: 0.7em;
    float: left;
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table
}
.clearfix:after { clear: both }
.clearfix { zoom:1 }

#site_title a:link {
    color: black;
}
#site_title a:visited {
    color: black;
}
#site_subtitle span {
    font-size: 90%;
    color: #ccc;
    font-weight: 300;
}
#TableOfContents {
    margin-top: 1.5em;
    background-color: rgb(248,248,248);
    border: 1px solid rgb(240,240,240);
    border-radius: 0.5em;
}
#TableOfContents ul {
    padding: 0.2em 1.2em;
    list-style-type: disc;
}
#TableOfContents > ul {
    padding: 0.2em 2em 0.2em 2em;
}
.entry-header {
    margin-top: 2em 0 0 0;
}
.entry-header span.entry-date {
    color: rgb(160,160,160)
}
.entry-header h1.entry-title {
    margin-top: 0.1em;
}
.entry-content {
    margin-bottom: 1.5em;
}

.entry-content img {
    background-color: rgb(250,250,250)
}

.entry-content table {
    margin-left: 2em;
}
.entry-content table tbody tr th {
    padding: 0.25em 0.5em;
    background-color: rgb(225,225,225);
}
.entry-content table tbody tr td {
    padding: 0.25em 0.5em;
    background-color: rgb(245,245,245);
}

footer {
    text-align: center;
    margin-bottom: 2em;
}

ul.page_list {
    padding-left: 0.1em;
    margin-top: 2em;
    list-style-type: none;
}
ul.page_list li {
    margin-bottom: 2em;
}
ul.page_list li::after {
    content: "";
    clear: both;
    display: block;
}
ul.page_list .date {
    color: black;
    font-size: 85%;
    font-weight: 400;
}
ul.page_list .title {
    font-weight: 300;
    font-size: 110%;
}
ul.page_list li p img {
    margin-right: 0.5em;
    float: left;
    border-radius: 3%;
}
ul.page_list li p {
    margin: 0;
    font-size: 90%;
    color: rgb(150,150,150);
}

nav.pagination {
    text-align: center;
    margin-bottom: 1.5em;
    color: black;
}
div.addr a:link {
    color:#999;
    font-size: 80%;
}
